fastapi==0.110.1
uvicorn==0.29.0
psycopg2-binary==2.9.9
SQLAlchemy==2.0.28
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
httpx==0.25.2
python-jose==3.3.0
python-multipart==0.0.9
starlette==0.36.3
bcrypt==3.2.0
